html {
    height: 100%;
  }

body{
    font-family: 'OpenSans', sans-serif;
    color: #8A8A8A;
    background-color: #F9FAFC;
    height: 100%;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#moda-logo {
    width: 10%;
    min-width: 8.125em;
    height: auto;
    margin: 0em 0em 0.3125em 2.1875em;
}

#user-icon {
    width: 3.125em;
    height: auto;
    margin-left: 1.25em;
}

#navbarSupportedContent ul {
    margin-right: 2.1875em;
}

#navbarSupportedContent .navbar-item a {
    padding-top: 0.9375em;
    font-size: 1.3125em;
    font-weight: 600;
    color: black;
}

#navbarSupportedContent li {
    margin-right: 2.1875em;
}

.navbar-light .navbar-nav .active {
    border-bottom: 0.375em solid black;
  }
